<header id="header">
    <div class="container-fluid topbar">
        <nav class=" container d-flex justify-content-between pt-2 pb-2">
    
          <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" alt="Logo" width="150" height="50" class="">
          </a>
    
    
          <div id="searchdiv">
            <!-- search bar -->
            <input type="search" name="search" id="searchbar" placeholder="What can we help you Find?" class="" />
          </div>
    
    
    
          <div id="iconsdiv bg-success" class="iconsdiv">
            <a href="#"><img src="../../assets/log-in.svg" alt="icon" width="40" height="20" class=""></a>
            <a href=""><img src="../../assets/bell.svg" alt="icon" width="40" height="20" class=""></a>
            <a href=""><img src="../../assets/shopping-cart.svg" alt="icon" width="40" height="20" class=""></a>
    
          </div>
    
    
        </nav>
      </div>
    
      <nav class="container-fluid" id="menu">
    
        <div class="container bottom d-flex align-items-center justify-content-around" >
            
            <a href="#recommend">RECOMMENDATION</a>
            <a href="#topcat">TOP CATEGORY</a>
            <a href="#newitems">NEW ITEMS</a>
            <a href="#itemleft">ITEMS LEFT</a>
            <a href="#itemleft">EXCLUSIVE BRANDS</a>
      
          <!-- <div id="orderdiv" class="">
            <a href="#" id="neworder">NEW ORDER</a>
            <a href="#" id="neworder">MY LIST</a>
          </div> -->
        </div>
      </nav>

</header>