<header id="header">
     <div class="container-fluid topbar">
        <nav class=" container d-flex justify-content-between pt-2 pb-2">
    
          <a class="navbar-brand" href="#">
            <img src="../../assets/logo.png" alt="Logo" width="150" height="50" class="">
          </a>
    
    
          <div id="searchdiv" class="d-none d-sm-none d-md-flex">
           
            <input type="search" name="search" id="searchbar" placeholder="What can we help you Find?" class="" />
          </div>
    
    
    
          <div id="iconsdiv bg-success" class="iconsdiv">
            <a routerLink="/login"><img src="../../assets/log-in.svg" alt="icon" width="40" height="20" class=""></a>
            <a href=""><img src="../../assets/bell.svg" alt="icon" width="40" height="20" class=""></a>
            <a href=""><img src="../../assets/shopping-cart.svg" alt="icon" width="40" height="20" class=""></a>
    
          </div>
    
    
        </nav>
      </div>
    
      <nav class="navbar navbar-expand-md" id="menu">
        <button class="navbar-toggler toggler_btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon custom-toggler"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav me-auto m-3 m-md-0 mb-lg-0 nav-list">
            <li class="nav-item">
              <a class="nav-link" href="#recommend">RECOMMENDATION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#topcat">TOP CATEGORY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#newitems">NEW ITEMS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#itemleft">ITEMS LEFT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#exclusivebrands">EXCLUSIVE BRANDS</a>
            </li>
          </ul>
            
            
        </div>
      </nav>

</header>