#header{
position: sticky;
top: 0px;
z-index: 10;
color: red;
}

.topbar{
  background-color: white;
}

#searchdiv{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px 20px;
    align-items: center;
    justify-content: center;
    
}
#searchbar {
  width: 100%;
  max-width: 500px;
  background-color: black;
  border: 1px solid #555;
  border-radius: 20px;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("../../assets/search_icon.svg") no-repeat 10px;
}
#searchbar:focus {
  outline: none;
}
#searchbar::-webkit-search-cancel-button {
  display: none;
}
.iconsdiv{
    display: flex;
    align-items: center;
}

#menu {
  background-color: #3b3b98;
}

.nav-list{
  display: flex;
  flex: 1;
  margin: 0px auto;
  justify-content: space-around;
  
}
.nav-link{
  color: white;
}
.custom-toggler{
  filter: invert(1);
}
.toggler_btn:focus{
  border: 1px solid white;
  outline: none;
  box-shadow: none;
}
.toggler_btn{
  outline: none;
  border: 1px solid white;
  margin-left: 10px;
}