<app-header/>
<div class="container">
    <div class="logincard ">
    
      <div class="loginform">
        <h1>Login</h1>
        <div class="m-5 d-flex justify-content-center   ">
          <form action="" class=" w-75">
           
            <div class="row mb-3">
              <div>
                <label class="form-label fs-6" for="email">Email </label>
                <input
                  type="text"
                  id="email"
                  class="form-control form-control"
                  required
                />
              </div>
            </div>
  
          
  
            <div class="row mb-3">
              <div>
                <label class="form-label fs-6" for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  class="form-control form-control"
                  required
                />
              </div>
            </div>
            
         
  
            <div class="button  fs-2 mt-4">
              <button type="submit" class="btn btn-success w-25">Login</button>
            </div>
  
            <div class="row mt-4 ">
              <p class="reg_para"> Forgot Password ?  <a href="/forgetpassword" class="" > Click here  </a></p>
           <p class="reg_para"> New User ?  <a href="/signup" class="" > Signup  </a></p>
            </div>
         
          </form>
        </div>
      </div>
      <div class="loginimage ">
        <img src="../../assets/login.jpg" alt="image"  />
      </div>
    </div>
  </div>

  <app-footer/>