
#header{
    position: sticky;
    top: 0px;
    z-index: 9;
    color: red;
    width:100%;
    }
    
    .topbar {
      background-color: white;
    }
    
    #topbarnav{
      margin-top: 0px;
      box-shadow: none;
    }
    
    #searchdiv{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0px 20px;
        align-items: center;
        justify-content: center;
        
    }
    #searchbar {
      width: 100%;
      max-width: 500px;
      background-color: black;
      border: 1px solid #555;
      border-radius: 20px;
      display: block;
      padding: 9px 4px 9px 40px;
      background: transparent url("../images/search_icon.svg") no-repeat 10px;
    }
    #searchbar:focus {
      outline: none;
    }
    #searchbar::-webkit-search-cancel-button {
      display: none;
    }
    .iconsdiv {
      display: flex;
      align-items: center;
    }
    
    #menu {
      background-color: #3b3b98;
    }
    
    .nav-list{
      display: flex;
      flex: 1;
      margin: 0px auto;
      justify-content: space-around;
      
    }
    .nav-link{
      color: white;
    }
    .custom-toggler{
      filter: invert(1);
    }
    .toggler_btn:focus{
      border: 1px solid white;
      outline: none;
      box-shadow: none;
    }
    .toggler_btn{
      outline: none;
      border: 1px solid white;
      margin-left: 10px;
    }
    
    .cart {
      height: fit-content;
      width: 400px;
      border: 2px solid #3b3b98;
      position: absolute;
      right: 77px;
      margin-top: 8px;
      z-index: 10;
      background-color: white;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 4px;
    }
    
    .btn-close {
      position: absolute;
      right: 0%;
    
      margin-right: 10px;
    }
    .h4_cart {
      /* background-color: #3b3b98; */
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }
    
    .cart_img {
      cursor: pointer;
    }
    
    .container_cart {
    
      width: 95%;
      
    
    }
    .tiles_cart {
    
      padding: 5px;
      display: flex;
      border: 1px solid #3b3b98;
      margin-top: 10px;
    }
    .cartitems {
      
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding: 0px 10px;
      
    
    }
    .count_cart {
      font-size: large;
    }
    #remove_cart {
    
      font-size: 10px;
      position: relative;
     
     
    }
    .btn_parent{
      display: flex;
      justify-content: center;
    }
    
    .cart_btn_checkout{
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #3b3b98;
      color: white;
     
    }
    .logicon{
      color: black;
    }
    
    .logicon:hover{
      color: black
    }