<div class="div_cart">
  <div class="cart" id="cart">
    <!-- <div class="h4_cart"> -->
      <!-- <h4 class="">Shopping cart</h4> -->
      <!-- <button
            type="button"
            class="btn-close"
            id="btn-close"
            aria-label="Close"
            (click)="closeButton()"
          ></button> -->
    <!-- </div> -->
    <div class="container container_cart">
      <div class="tiles_cart">
        <img
          src="../../assets/login.jpg"
          width="70px"
          height="80px"
          style="cursor: pointer"
        />

        <div class="cartitems">
          <div>
            <h5>Orange</h5>
            <h6>Price : $ 20</h6>
          </div>
          <div>
            <p class="count_cart">
              <span
                ><img
                  src="../../assets/minus.png"
                  width="25px"
                  style="cursor: pointer"
                  (click)="decrease()"
              /></span>
              {{ count }}
              <span
                ><img
                  src="../../assets/plus.png"
                  width="25px"
                  style="cursor: pointer"
                  (click)="increase()"
              /></span>
            </p>
          </div>
        </div>

        <button
        type="button"
        class="btn delimg"
        id="remove_cart"
        aria-label="Close"
      >
      <img src="../../assets/delete.png" width="20px" class="delimg"/>
    </button>
      </div>

      <div class="tiles_cart">
        <img
          src="../../assets/login.jpg"
          width="70px"
          height="80px"
          style="cursor: pointer"
        />

        <div class="cartitems">
          <div>
            <h5>Orange</h5>
            <h6>Price : $ 20</h6>
          </div>
          <div>
            <p class="count_cart">
              <span
                ><img
                  src="../../assets/minus.png"
                  width="25px"
                  style="cursor: pointer"
                  (click)="decrease()"
              /></span>
              {{ count }}
              <span
                ><img
                  src="../../assets/plus.png"
                  width="25px"
                  style="cursor: pointer"
                  (click)="increase()"
              /></span>
            </p>
          </div>
        </div>

        <button
        type="button"
        class="btn delimg"
        id="remove_cart"
        aria-label="Close"
      >
      <img src="../../assets/delete.png" width="20px" class="delimg"/>
    </button>
      </div>

      <div class="tiles_cart">
        <img
          src="../../assets/login.jpg"
          width="70px"
          height="80px"
          style="cursor: pointer"
        />

        <div class="cartitems">
          <div>
            <h5>Orange</h5>
            <h6>Price : $ 20</h6>
          </div>
          <div>
            <p class="count_cart">
              <span
                ><img
                  src="../../assets/minus.png"
                  width="25px"
                  style="cursor: pointer"
                  (click)="decrease()"
              /></span>
              {{ count }}
              <span
                ><img
                  src="../../assets/plus.png"
                  width="25px"
                  style="cursor: pointer"
                  (click)="increase()"
              /></span>
            </p>
          </div>
        </div>

        <button
        type="button"
        class="btn delimg"
        id="remove_cart"
        aria-label="Close"
      >
      <img src="../../assets/delete.png" width="20px" class="delimg"/>
    </button>
      </div>

      <div class="tiles_cart">
        <img
          src="../../assets/login.jpg"
          width="70px"
          height="80px"
          style="cursor: pointer"
        />

        <div class="cartitems">
          <div>
            <h5>Orange</h5>
            <h6>Price : $ 20</h6>
          </div>
          <div class="para_del">
            <p class="count_cart">
              <span
                ><img
                  src="../../assets/minus.png"
                  width="25px"
                  style="cursor: pointer"
                  (click)="decrease()"
              /></span>
              {{ count }}
              <span
                ><img
                  src="../../assets/plus.png"
                  width="25px"
                  style="cursor: pointer"
                  (click)="increase()"
              /></span>
            </p>
            <button
            type="button"
            class="btn delimg"
            id="remove_cart"
            aria-label="Close"
          >
          <img src="../../assets/delete.png" width="20px" class="delimg"/>
        </button>
          </div>
        </div>

      
      </div>

      
    </div>
  </div>

  <div class="cart_summary">
    <div class="summary_content">
        <h4 style="text-align: center;">Summary</h4>
        <div class="summary_tiles">
            <p>Subtotal</p>
            <p>$360</p>
           
        </div>
        <hr class="hr">
        <div class="summary_tiles">
            <p>Discount</p>
            <p>$360</p>
         
        </div>
        <hr class="hr">
        <div class="summary_tiles">
            <p>Shipping</p>
            <p>$360</p>
            
        </div>
        <hr class="hr">
        <div class="summary_tiles">
            <p>Total</p>
            <p>$360</p>
            
        </div>

        <div class="btn_parent">
            <button class="btn cart_btn_checkout">Checkout</button>
          </div>
    </div>
  </div>
</div>
