<footer class="footer_main">
  <div class="footer-top d-flex">
    <div class="contain">
      <p class="mp">COMPANY</p>
      <p><a class="footer_link" href="">Us</a></p>
      <p><a class="footer_link" href="">Our Brands</a></p>
      <p><a class="footer_link" href="">News Feed</a></p>
      <p><a class="footer_link" href="">Eat Local Eat Often</a></p>
    </div>
    <div class="contain">
      <p class="mp">OUR SERVICES</p>
      <p><a class="footer_link" href="">MenuMax</a></p>
      <p><a class="footer_link" href="">HOST Services</a></p>
      <p><a class="footer_link" href="">Culinary Resource Team</a></p>
      <p><a class="footer_link" href="">Newsletter</a></p>
    </div>

    <div class="contain">
      <p class="mp">CUSTOMER SUPPORT</p>
      <p><a class="footer_link" href="">Sales Rep</a></p>
      <p><a class="footer_link" href="">Help Center</a></p>
      <p><a class="footer_link" href="">Feedback</a></p>
    </div>
    <div class="contain">
      <p class="mp">POLICY & TERMS</p>
      <p><a class="footer_link" href="">License Agreement</a></p>
    </div>

    <div class="contain">
      <p class="mp">SIGN UP</p>
      <p><a class="footer_link" href="/signup">Register</a></p>
    </div>
  </div>
  <div class="footer_copyright d-flex flex-wrap">
    <div>
      <img src="../../assets/logo.png" alt="" width="100px" />
    </div>
    <div>
      <p>Copyright © 2024 Tanmay, Durgesh, Suvarna</p>
    </div>

    <div class="icons">
      <a href=""
        ><img
          src="../../assets/facebook.svg"
          alt="icon"
          width="40"
          height="20"
          class="fav_img"
      /></a>
      <a href=""
        ><img
          src="../../assets/instagram.svg"
          alt="icon"
          width="40"
          height="20"
          class="fav_img"
      /></a>
      <a href=""
        ><img
          src="../../assets/twitter.svg"
          alt="icon"
          width="40"
          height="20"
          class="fav_img"
      /></a>
    </div>
  </div>
</footer>
