<div class="container mt-5" id="recommend">
    <h2 class="text">Recommend for You</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-4">
        <div *ngFor="let rec of recommend" class="card1">
            <div class="card mt-4">
                <img src={{rec.image}} class="card-img-top img-fit p-2" alt={{rec.title}}>
                <div class="card-body">
                    <span class="badge bg-success ">In Stock</span>
                    <div class="">
                        <h5 class="card-title">{{rec.title}}</h5>
                        <p class="card-text fs-6">${{rec.price}} M.R.P. <del>${{rec.price+100}}</del></p>
                    </div>
                    <p class="card-text fs-6 text-justify p_des">{{rec.description}}</p>
                    <div class="d-flex justify-content-between mt-2">
                        <a class="btn btn-outline-secondary"><img src="../../assets/bookmark.svg" alt="icon" width="35" height="30" class="" (click)="addToList(rec.id)"></a>
                        <button type="button" class="btn btn_add px-4">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>